.container{
    width: 90%;
    margin: 20vh auto;
}


.form-group1 input{
    width: 80%;
    margin:10px  25px;
}

.form-check{
    margin:10px 25px;
}

.btn-primary{
    width: 80%;
    margin:10px 25px;
}

.error{
    margin:0 auto;
}

.third-party-login{
    margin: 0 25px;
}